@import "tailwindcss";

@theme {
    --breakpoint-sm: 360px;
    --breakpoint-md: 540px;
    --breakpoint-lg: 778px;
  }

* ,*::before, *::after {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.li {
    @apply text-base hover:text-blue-500 py-3 px-4 lg:py-0 lg:px-0 lg:hover:bg-transparent lg:pb-0 hover:bg-gray-100 rounded-md 
}

