@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
}

.div {
    width: 100%;
    height: 100%;
}

.btn {
    @apply py-2 px-8 font-medium text-sm bg-[#0984e3] transition-all m-2 duration-300 ease-in-out hover:text-2xl hover:px-10 hover:py-3 hover:bg-blue-500 rounded ring-offset-2 ring-4  hover:ring-stone-500
}

.input {
    @apply block w-80 m-auto py-2 px-4 font-semibold bg-gray-800 rounded text-sm my-3 focus:outline-none focus:ring-2 ring-slate-600 focus:ring-offset-2
}

.label {
    @apply font-semibold ml-3 
}