* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 48px;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: white;
}

.parent {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.parent h1 {
    font-size: 2rem;
    margin: 1em;
}

.parent p {
    font-size: 0.4rem;
}